.id-loan {
    max-width: 60px;
    text-align: center;
}

.id-return {
    max-width: 90px;
    text-align: center;
}

.main-label {
    width: 82px;
}

.edit-label {
    width: 55px;
}

.reserv-section {
    max-width: 768px;
}

.top-menu {
    top: 65px;
}

.brand-size {
    font-size: 22px;
}

.info-icon {
    width: 30px;
}

.w-fit {
    width: fit-content;
}

.top-dropdown {
    top: 44px !important;
}

.width-dropdown {
    min-width: 240px;
}

.button-close-res {
    top: 4px;
    right: 4px;
    position: absolute;
}

.info-icon:hover {
    content: url("./assets/info-circle-hover.png");
}

@media screen and (min-width:640px) {
    .title-loan {
        width: 250px;
    }

    .top-menu {
        top: 75px;
    }

    .brand-size {
        font-size: calc(1.375rem + 1.5vw);
    }
}

@media screen and (min-width:768px) {
    .top-dropdown {
        top: 48px !important;
    }
}

@media screen and (min-width:992px) {
    .top-menu {
        top: 0;
    }

    .position-lg-relative {
        position: relative !important;
    }

    .top-dropdown {
        top: 0 !important;
    }

    .right-dropdown {
        right: 4px !important;
    }

    .block-gap-res {
        width: 40px;
        display: inline-block;
    }
}

@media screen and (min-width:1200px) {
    .width-actions {
        width: 160px;
    }

    .brand-size {
        font-size: 2.75rem;
    }

    .width-dropdown {
        min-width: 340px;
    }
}