.id-loan {
    max-width: 60px;
    text-align: center;
}

.id-return {
    max-width: 90px;
    text-align: center;
}

.main-label {
    width: 82px;
}

.edit-label {
    width: 55px;
}

.reserv-section {
    max-width: 768px;
}

.default-input {
    display: inline-block;
    width: auto;
}


@media screen and (min-width:640px){
    .title-loan {
        width: 250px;
    }
}

@media screen and (min-width:1200px) {
    .width-actions {
        width: 160px;
    }
}