.id-loan {
    max-width: 50px;
    text-align: center;
}

.id-return {
    max-width: 60px;
    text-align: center;
}

.main-label {
    width: 82px;
}


@media screen and (min-width:640px){
    .title-loan {
        width: 250px;
    } 
}